In [3]:
import pandas as pd

In [4]:
aez_df = pd.read_csv("Kenya_Agro_Ecological_Zones.csv")
aez_df.head()

,FID,County,Sub_County,AEZ_Code,AEZ_Name,AEZSubzone,Major_Crop,AREA,Shape__Area,Shape__Length
0,1,West Pokot,Loima Sub County,IL 5,Inner Lowland,(vs),Livestock - Millet Zone,6.161298,6.211316e+04,1872.328594
1,2,West Pokot,Loima Sub County,IL 5,Inner Lowland,(vs),Livestock - Millet Zone,0.821146,8.278199e+03,590.947614
2,3,West Pokot,Pokot North Sub County,IL 5,Inner Lowland,(vs),Livestock - Millet Zone,365.113050,5.557811e+05,4985.080112
3,4,West Pokot,Pokot North Sub County,IL 5,Inner Lowland,(vs),Livestock - Millet Zone,365.113050,3.125235e+06,8141.996622
4,5,West Pokot,Loima Sub County,IL 5,Inner Lowland,(vs),Livestock - Millet Zone,957.860723,9.657306e+06,23721.351976

In [5]:
#dropped unneccesary columns from the data frame

dropped_columns = ["FID","AEZ_Name","AEZSubzone", "Major_Crop", "AREA", "Shape__Area", "Shape__Length"]

aez_df.drop(columns = dropped_columns, inplace=True)

aez_df.head()

       County              Sub_County AEZ_Code
0  West Pokot        Loima Sub County     IL 5
1  West Pokot        Loima Sub County     IL 5
2  West Pokot  Pokot North Sub County     IL 5
3  West Pokot  Pokot North Sub County     IL 5
4  West Pokot        Loima Sub County     IL 5

In [6]:
aez_df.duplicated()

0        False
1         True
2        False
3         True
4         True
         ...
11658     True
11659    False
11660     True
11661     True
11662     True
Length: 11663, dtype: bool

In [7]:
aez_df.drop_duplicates(inplace=True)
aez_df.head()

       County              Sub_County AEZ_Code
0  West Pokot        Loima Sub County     IL 5
2  West Pokot  Pokot North Sub County     IL 5
5  West Pokot  Pokot North Sub County     IL 6
6  West Pokot        Loima Sub County     IL 6
9  West Pokot   West Pokot Sub County     IL 6

In [8]:

unique_zones = aez_df["AEZ_Code"].unique()
zones_list = unique_zones.tolist()
print(zones_list)

print(len(zones_list))

['IL 5', 'IL 6', 'LH 1', 'LH 2', 'LH 3', 'LH 4', 'LM 4', 'LM 4 - 5', 'LM 5', 'LM 5 - 6', 'LM 6', 'TA 1', 'TA 2', 'UH 1', 'UH 1 - 2', 'UH 2', 'UH 2 - 3', 'UM 2', 'UM 3', 'UM 4', 'UM 4 - 5', 'UM 5', 'LH 3 - 4', 'Waterbody - IL 6', 'Waterbody - LM 5', 'Waterbody - LM 6', 'Waterbody - UM 5', 'LH 0', 'UH 0', 'UM 1', 'UM 2 - 3', 'LM 1', 'LM 2', 'LM 3', 'UM 2 - 4', 'UM 3 - 4', 'Waterbody - Lake Victoria', 'Waterbody - LM 4', 'UH 3', 'TA 0', 'Waterbody - Indian Ocean', 'CL 4', 'CL 5', 'CL 6', 'IL 7', 'UM 6', 'LH 5', 'NBO', 'UM 5 - 6', 'UM 0', 'CL 3', 'CL 3 - 4', 'UM 1 - 2', 'Waterbody - LM 3', 'CL 2 (-3)', 'LH 4 - 5', 'LM 7', 'Waterbody - IL 7', 'TA 1 - 2', 'UH - LH 3', 'Waterbody - LH 5', 'Waterbody - UM 6', 'LH 2 - 3', 'UH 4', 'Waterbody - IL 5']
65

In [9]:
aez_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2858 entries, 0 to 11659
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   County      2858 non-null   object
 1   Sub_County  2858 non-null   object
 2   AEZ_Code    2858 non-null   object
dtypes: object(3)
memory usage: 89.3+ KB

In [10]:
#From research, I found that Kenya has 1-7 agroecological zones. Each of the codes in this datasets ended with zone number
#deleted the stings to be left with the number for each zone
#Plan is to create a uniform AEZ_Code column for joining with the other dataset

aez_df['AEZ_Code'] = aez_df['AEZ_Code'].str.replace(r'\D', '', regex=True)
aez_df.head()

       County              Sub_County AEZ_Code
0  West Pokot        Loima Sub County        5
2  West Pokot  Pokot North Sub County        5
5  West Pokot  Pokot North Sub County        6
6  West Pokot        Loima Sub County        6
9  West Pokot   West Pokot Sub County        6

In [11]:
#deleting white spaces

aez_df['AEZ_Code'] = aez_df['AEZ_Code'].str.strip() == ''

In [12]:
try:
    aez_df['AEZ_Code'] = aez_df['AEZ_Code'].astype(int)
except: ValueError

In [13]:
aez_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2858 entries, 0 to 11659
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   County      2858 non-null   object
 1   Sub_County  2858 non-null   object
 2   AEZ_Code    2858 non-null   int64
dtypes: int64(1), object(2)
memory usage: 89.3+ KB

In [14]:
#making sure the range of the column is 1-6

range_mask = (aez_df['AEZ_Code'].astype(float) >= 1) & (aez_df['AEZ_Code'].astype(float) <= 6)
range_mask

0        False
2        False
5        False
6        False
9        False
         ...
11642    False
11643    False
11646    False
11648    False
11659    False
Name: AEZ_Code, Length: 2858, dtype: bool

### Transforming the AEZ Zone Data

In [15]:
speciesdf = pd.read_excel("speciesbyzone.xlsx", sheet_name= "Sheet2")
speciesdf

                                              Species AEZ
0     Acacia mearnsii _x000D_\n\n\t\t\t(Black wattle)   I
1                                  Acacia melanoxylon   I
2        Arundinaria alpina _x000D_\n\n\t\t\t(Bamboo)   I
3   Bischofia javonica _x000D_\n\n\t\t\t(Bischof w...   I
4        Chlorophora excelsa _x000D_\n\n\t\t\t(Mvule)   I
..                                                ...  ..
63          A. Senegal_x000D_\n\n\t\t\t(Gum arabicum)  VI
64                                    Cordia sinensis  VI
65       Hyhaena ciriacea_x000D_\n\n\t\t\t(Doum palm)  VI
66                                  Salvadora persica  VI
67                                Syzyphus mauritiana  VI

[68 rows x 2 columns]

In [16]:
# renaming column to match the zones dataset

speciesdf = speciesdf.rename(columns={'AEZ': 'AEZ_Code'})

In [17]:
speciesdf.head()

                                             Species AEZ_Code
0    Acacia mearnsii _x000D_\n\n\t\t\t(Black wattle)        I
1                                 Acacia melanoxylon        I
2       Arundinaria alpina _x000D_\n\n\t\t\t(Bamboo)        I
3  Bischofia javonica _x000D_\n\n\t\t\t(Bischof w...        I
4       Chlorophora excelsa _x000D_\n\n\t\t\t(Mvule)        I

In [18]:
#conversion from roman numerals to numbers to match the other dataset

roman_to_num = {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5, 'VI': 6}

def roman_to_number(roman):
    return roman_to_num.get(roman, None)

# Apply the function to the 'AEZ_Code' column
speciesdf['AEZ_Code'] = speciesdf['AEZ_Code'].apply(roman_to_number)

speciesdf.head()

                                             Species  AEZ_Code
0    Acacia mearnsii _x000D_\n\n\t\t\t(Black wattle)         1
1                                 Acacia melanoxylon         1
2       Arundinaria alpina _x000D_\n\n\t\t\t(Bamboo)         1
3  Bischofia javonica _x000D_\n\n\t\t\t(Bischof w...         1
4       Chlorophora excelsa _x000D_\n\n\t\t\t(Mvule)         1

In [19]:
#making sure we have the right range

unique_code = speciesdf["AEZ_Code"].unique().tolist()
print(unique_code)

[1, 2, 3, 4, 5, 6]

In [20]:
speciesdf['Species'] = speciesdf['Species'].str.replace("_x000D_\n\n\t\t\t", "")
speciesdf

                              Species  AEZ_Code
0      Acacia mearnsii (Black wattle)         1
1                  Acacia melanoxylon         1
2         Arundinaria alpina (Bamboo)         1
3   Bischofia javonica (Bischof wood)         1
4         Chlorophora excelsa (Mvule)         1
..                                ...       ...
63           A. Senegal(Gum arabicum)         6
64                    Cordia sinensis         6
65        Hyhaena ciriacea(Doum palm)         6
66                  Salvadora persica         6
67                Syzyphus mauritiana         6

[68 rows x 2 columns]

In [21]:
# Concatenate DataFrames before merging
merged_data = pd.concat([speciesdf, aez_df], ignore_index=True)

# Merge the concatenated DataFrame based on 'AEZ_Code'
merged_data = merged_data.merge(merged_data, on='AEZ_Code', how='outer')

merged_data.head()

,Species_x,AEZ_Code,County_x,Sub_County_x,Species_y,County_y,Sub_County_y
0,Acacia mearnsii (Black wattle),1,NaN,NaN,Acacia mearnsii (Black wattle),NaN,NaN
1,Acacia mearnsii (Black wattle),1,NaN,NaN,Acacia melanoxylon,NaN,NaN
2,Acacia mearnsii (Black wattle),1,NaN,NaN,Arundinaria alpina (Bamboo),NaN,NaN
3,Acacia mearnsii (Black wattle),1,NaN,NaN,Bischofia javonica (Bischof wood),NaN,NaN
4,Acacia mearnsii (Black wattle),1,NaN,NaN,Chlorophora excelsa (Mvule),NaN,NaN

In [22]:
# Concatenate DataFrames before merging
merged_data = pd.concat([speciesdf, aez_df], ignore_index=True)

# Merge the concatenated DataFrame based on 'AEZ_Code'
merged_data = merged_data.merge(merged_data, on='AEZ_Code', how='outer')

merged_data.head()

#### Agro-Ecological Zones (AEZ) Data Dictionary


1. Agro-Alpine (Over Highland)
2. Highland
3. High Potential
4. Mediam Potential
5. Semi-arid
6. Very Arid

In [ ]:
#import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [ ]:
# merged data is in a DataFrame named 'merged_data'

# Choose relevant columns for feature selection
# For example, let's consider 'Species_x' and 'AEZ_Code' as important columns

selected_features = merged_data[['Species_x', 'AEZ_Code']]

# If there are other columns that contain ecological conditions or information relevant to tree planting,
# you can include them in the 'selected_features' DataFrame.

# Print the first few rows of the selected features
print(selected_features.head())

NameError: name 'merged_data' is not defined